<div class="container-fluid mx-auto p-5">

  <div class="search">
    <h1 >Welcome to our movie app</h1>
    <p>Millions of movies, TV shows and people to discover. Explore now.</p>
    <div class="input-group mb-3">
      <input  [(ngModel)]="searchQuery"  type="text" class="form-control py-2 px-3 border-warning shadow-none" placeholder="Search and explore....">
      <button class="btn btn-warning ms-3 border-1" type="button" (click)="onSearch()">Search</button>
    </div>
  </div>


  <div class="movie-list mt-5">
    <h2 class="mb-2">Now Playing</h2>
    <p class="text-center fs-2 fw-bold mb-5">Page :  <span class="text-warning">{{pageNumber}}</span>  </p>
    <div class="row movie-container">
      @if(movies$ |async; as movies ){
        @for ( movie of movies; track movie.id ) {
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 movie-card">
            <div class="card mb-3 rounded-5" >
              <img (click)="getMovieDetails(movie.id)" [src]='"https://image.tmdb.org/t/p/original"+movie.poster_path' class="card-img-top" [alt]="movie.overview">
              <div class="card-body position-relative">
                <div class="mt-2 d-flex justify-content-between">
                  <h5 class="card-title">{{movie.title}}</h5>
                  <span class="wish-listIcon">
                    <i class="bi fs-4"  [ngClass]="isInWishlist(movie.id) ? 'bi-heart-fill text-warning' : 'bi-heart'" (click)="toggleWishlist(movie.id)"></i>
                  </span>
                </div>
                <p class="card-text text-muted">{{movie.release_date}}</p>
                <div class="text-white  rounded-circle position-absolute rating" >
                  <p class="text-center p-2 mt-1">{{movie.vote_average / 10 | percent  }}</p>
                </div>
          </div>
        </div>
      </div>
        }
      }
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" (click)="changePage(pageNumber-1,count,li)"> << </a>
      </li>
      @for ( i of movies$ |async; track i.id ;) {
          <li #li class="page-item"><a #a class="page-link" (click)="changePage($index+1,count,li)"  >{{$index+1}}</a></li>
      }

      <li #li class="page-item">
        <a class="page-link" (click)="changePage(pageNumber+1,count,li)" >>></a>
      </li>
    </ul>
  </nav>
  </div>
