<div class="container mt-4">
  <h3>Watch list</h3>
  <div class="row">
    <div *ngFor="let movie of movies; let i = index" class="col-md-6 mb-4">
      <div class="card shadow-sm h-100 d-flex flex-row p-2">
        <img [src]="movie.image" class="movie-poster me-3" alt="Movie Poster">
        <div>
          <h4>{{ movie.title }}</h4>
          <small>{{ movie.date }}</small>
          <div class="stars text-warning my-1">
            <ng-container *ngFor="let star of [1,2,3,4,5]; let j = index">
              <i class="bi" [ngClass]="j < movie.rating ? 'bi-star-fill' : 'bi-star'"></i>
            </ng-container>
            <span class="text-muted ms-2">{{ movie.reviews }}</span>
          </div>
          <p>{{ movie.description }}</p>
        </div>
        <button class="btn ms-auto text-warning" (click)="removeFromWishlist(i)">
          <i class="bi bi-heart-fill"></i>
        </button>
      </div>
    </div>
  </div>
</div>
